

.numb{
    text-align: center;
    font-size: 30px;
}

.btn-field{
    padding-top: 30px;
    margin-left: 35%;
    width: 30%;
}

.btn-field button{

    float:left;
    width: 25%;

}


body{
    padding-top: 200px;
}